.App {
  text-align: center;
  background-color: #000000c4;
}

.App-logo {
  box-shadow: inset 0 -0.175em yellow, inset 0 -0.2em yellow;
  max-width: 75%;
  max-height: auto;
}

.mug {
  margin-top: 5rem;
  width: 30%;
  height: 30%;
}

#vidFade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#mugFade {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#vidLight {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: auto;
  max-height: auto;
  border: #FFF;
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#mugLight {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: auto;
  max-height: auto;
  /* border: #FFF;
  border-style: solid;
  border-width: 5px 5px 5px 5px; */
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2rem;
}

.App-link {
  color: #61dafb;
}

/* Slide CSS */

.slider-arrows {
  z-index: 3;
}

.slider-arrows > .arrow {
  margin-top: 12.5rem;
}

.slider-arrows div {
  display: block;
  opacity: 0.8;
  position: absolute;
}

.slider-arrows > .arrow.right {
  right: 0%;
}

.slider-arrows > .arrow.left {
  left: 0%;
}

.arrowRight {
  cursor: pointer;
  width: 10rem;
  height: auto;
}

.arrowLeft {
  cursor: pointer;
  width: 10rem;
  height: auto;
}

.slider .slide {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slide {
  cursor: pointer;
  width: 30rem;
  height: 30rem;
  background-size: 30rem 30rem
}

.slide:hover {
  cursor: pointer;
  width: 30rem;
  height: 30rem;
  background-size: 30rem 30rem
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
